.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    top: 50px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-container input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input-container input:focus {
    outline: none;
  }
  
  .input-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .todo-item button {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #ffffff;
    cursor: pointer;
    font-size: large;
  }
  
  .todo-item button:first-of-type {
    background-color: #444744;
    color: #ffffff;
  }
  